html, body {
    margin: 0;
    padding: 0;

    background: #faf8ef;
    color: #776E65;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}

body {
    width: 515px;
    margin: 60px auto;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
  
    100% {
        opacity: 1;
    }
}

p {
    line-height: 1.65;
}

a {
    color: #776E65;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

#heading {
    line-height: 40px;
}

.button {
    display: inline-block;
    background: #8f7a66;
    border: none;
    border-radius: 3px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
}

#new-game {
    float: right;
}

#game {
    margin: 40px auto;
    position: relative;
    background: #bbada0;
    border-radius: 6px;
    width: 515px;
    height: 515px;
    box-sizing: border-box;
}

.cell {
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 3px;
    background: rgba(238, 228, 218, 0.35);
}

#message {
    display: none;
    position: absolute;
    background: rgba(238, 228, 218, 0.5);
    z-index: 10;

    text-align: center;

    p {
        font-size: 60px;
        font-weight: bold;
        height: 60px;
        line-height: 60px;
        margin-top: 222px;
    }

    .lower {
        display: block;
        margin-top: 59px;
    }

    a {
        margin-left: 9px;
    }

    animation: fade-in 800ms ease 1.2s;
    animation-fill-mode: both;

    &.game-won {
        background: rgba(237, 194, 46, 0.5);
        color: #f9f6f2;
    }

    &.show {
        display: block;
    }
}

.tile {
    position: absolute;
    width: 110px;
    height: 110px;
    line-height: 110px;
    border-radius: 3px;
    background: #eee4da;
    text-align: center;
    font-weight: bold;
    z-index: 5;
    font-size: 55px;

    @for $x from 1 through 4 {
        @for $y from 1 through 4 {
            &.position-#{$x}-#{$y} {
                transform: translate(125px * $x - 110px, 125px * $y - 110px);
            }
        }
    }

    transition: 100ms ease-in-out;
    transition-property: transform;

    $special-colors: false false, // 2
                     false false, // 4
                     #f78e48 true, // 8
                     #fc5e2e true, // 16
                     #ff3333 true, // 32
                     #ff0000 true, // 64
                     false true, // 128
                     false true, // 256
                     false true, // 512
                     false true, // 1024
                     false true; // 2048

    @for $level from 1 through 11 {
        &.color-#{$level} {
            $gold-percent: ($level - 1) * 10;
            $mixed-background: mix(#edc22e, #eee4da, $gold-percent);

            $nth-color: nth($special-colors, $level);

            $special-background: nth($nth-color, 1);
            @if $special-background {
                $mixed-background: mix($special-background, $mixed-background, 55%);
            }

            @if nth($nth-color, 2) {
                color: #f9f6f2;
            }

            background: $mixed-background;

            $glow-opacity: max($level - 4, 0) / 7;

            @if not $special-background {
                box-shadow: 0 0 30px 10px rgba(#f3d774, $glow-opacity / 1.8),
                            inset 0 0 0 1px rgba(white, $glow-opacity / 3);
            }

            @if $level >= 7 and $level < 10 {
                font-size: 45px;
            } @else if $level >= 10 {
                font-size: 35px;
            }
        }
    }

    &.color-super {
        color: #f9f6f2;
        background: mix(#333, #edc22e, 95%);

        font-size: 30px;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.tile-new {
    animation: appear 200ms ease 100ms;
    animation-fill-mode: backwards;
}

@keyframes pop {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.tile-merged {
  z-index: 8;
  animation: pop 200ms ease 100ms;
  animation-fill-mode: backwards;
}
